.table tbody tr td{
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  font-size: 13px;
}

.table tbody tr td img{
  padding: 2px;
}
table.dataTable thead tr th{
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  font-size: 10px;
  background-color: #656565;
  color: floralwhite;
}
table.dataTable thead th{

}
table{table-layout: fixed;}

table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting {
  padding-right: 20px
}





