.table tbody tr td{
  vertical-align: middle;
  text-align: center;
}

table {
    word-wrap: break-word;
    word-break:break-all;
    table-layout:fixed;
}
table td{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}